ACTION=="add", SUBSYSTEM=="dax", TAG+="systemd",\
  PROGRAM="/usr/bin/systemd-escape -p --template=daxdev-reconfigure@.service $env{DEVNAME}",\
  ENV{SYSTEMD_WANTS}="%c"
